.index-about-company {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  padding-top: 150px;
  padding-right: 120px;
  padding-left: 20px;
}

.index-about-company__wrapper {
  display: flex;
  justify-content: space-between;
}

.index-about-company__left,
.index-about-company__right {
  width: 45%;
}

.about-company-slider {
  padding-bottom: 40px;
  box-sizing: border-box;
}

.about-company-slider .swiper-slide {
  //min-width: 300px;
}

.about-company-slider .swiper-slide img {
  //width: 100%;
  height: auto;
  max-width: 300px;
}

.about-company-slider .swiper-slide {
  //transform: scale(0.8);
  //z-index: 3;
  transition: all 0.5s;
  opacity: 0;
  box-sizing: border-box;
}

.about-company-slider .swiper-slide-prev {
  transform: scale(0.9);
  z-index: 3;
  transition: all 0.5s;
  opacity: 1;
}

.about-company-slider .swiper-slide-active {
  z-index: 4;
  transition: all 0.5s;
  //transform: scale(1);
  //transform: translateX(10px);
  opacity: 1;
  //position: absolute;
  //right: 50px;
}

.about-company-slider .swiper-slide-next {
  transform: scale(0.9);
  z-index: 3;
  transition: all 0.5s;
  opacity: 1;
}

.about-company-slider .swiper-button-next {
  bottom: 0;
  top: auto;
}

.about-company-slider .swiper-button-prev {
  bottom: 0;
  top: auto;
}

.employees {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  padding-top: 150px;
  padding-right: 120px;
  padding-left: 20px;
  position: relative;
}

.employees__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
}

.employees-slider {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.employee-slide {
  background-color: grey;
  min-width: 100px;
  min-height: 100px;
  display: flex;
}

.employee-slide.swiper-slide-prev {

}

.employee-slide.swiper-slide-next {

}

.employee-slide.swiper-slide-active {
  background-color: green;

}

.employee-slide__left {
  max-width: 320px;
}

.employee-slide__right {
  max-width: 420px;
}
