/*Главный блок слайда*/
.index-block {
  background-image: url("../img/paral.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #000000;
}

.index-block__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 0;
  width: 100%;

  @include desktop {
    position: static;
    transform: none;
    padding-top: 70px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 25px;
  }

  @include tablet {
    margin-top: 25px;
  }
}

.index-block__title {
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 40px;

  @include tablet {
    font-size: 35px;
    line-height: 1;
  }
}

.index-block__subtitle {
  font-size: 29px;
  line-height: 33px;
  margin-bottom: 60px;
}

.index-block__buttons {

}

.index-block__open-form {
  background: #429B4B;
  border-radius: 3px;
  border: 2px solid #429B4B;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  padding: 22px 45px;
  min-width: 260px;
  margin: 0 20px;
  cursor: pointer;
  white-space: nowrap;
  margin-bottom: 10px;

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    outline-offset: 0;
    background: transparent;
    border: 2px solid #429B4B;
  }
}

.index-block__link-works {
  background: transparent;
  border-radius: 3px;
  border: 2px solid #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 22px 45px;
  display: inline-block;
  min-width: 260px;
  margin: 0 20px;
  text-align: center;
  margin-bottom: 10px;

  &:active,
  &:hover,
  &:focus {
    outline: 0;
    outline-offset: 0;
    background: #ffffff;
    color: #429B4B;
  }
}

.index-block__advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  max-width: 1400px;
  padding-right: 120px;
  margin: 0 auto;
  margin-top: 30px;
  padding-left: 50px;

  @include desktop {
    padding-right: 60px;
  }

  @include tablet {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

.index-block__advantages-item {
  width: 30vw;
  max-width: 400px;
  display: flex;
  align-items: center;
  margin: 5px;
  text-align: left;

  @include desktop {
    width: auto;
  }
}

.index-block__advantages-img-block {
  margin-right: 10px;
}
